// @keyframes changeSize {
//   0% {
//     height: calc(20vh - 36px);
//     width: 100vw;
//   }

//   50% {
//     height: calc(30vh - 36px);
//     width: 100vw;
//   }

//   100% {
//     height: calc(10vh - 36px);
//     width: 100vw;
//   }
// }

.hero {
  position: relative;
  margin-top: 72px;

  @media (min-width: 760px) {
    display: flex;
    flex-direction: row;
  }

  &__link-wrapper {
    transition: 400ms;
    transition-timing-function: $cubic-bezier;
    transform: scale(1);
    &:hover {
      transform: scale(1.2);
    }
    @media (min-width: 760px) {
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__link {
    position: relative;

    &:visited {
      color: $light-text-color;
    }
  }

  &__title-tri,
  &__title-run {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    font-style: italic;
    font-weight: 800;
    font-size: 27px;
    line-height: 120%;

    z-index: 50;
  }

  &__title-tri {
    @media (min-width: 760px) {
      top: 60%;
      left: 60%;

      font-weight: 800;
      font-size: 42px;
      line-height: 120%;
    }
    @media (min-width: 1180px) {
      font-size: 64px;
    }
  }

  &__title-run {
    @media (min-width: 760px) {
      top: 33%;
      right: -10%;

      font-weight: 800;
      font-size: 42px;
      line-height: 120%;
    }
    @media (min-width: 1180px) {
      top: 30%;
      font-size: 64px;
    }
  }

  @keyframes changeSizeTri {
    0% {
      height: calc(50vh - 36px);
    }

    35% {
      height: calc(55vh - 36px);
    }
    75% {
      height: calc(45vh - 36px);
    }

    100% {
      height: calc(50vh - 36px);
    }
  }

  @keyframes changeSizeRun {
    0% {
      height: calc(50vh - 36px);
    }

    35% {
      height: calc(45vh - 36px);
    }
    75% {
      height: calc(55vh - 36px);
    }

    100% {
      height: calc(50vh - 36px);
    }
  }

  &__thumb-triatlon,
  &__thumb-run {
    height: calc(50vh - 36px);
    width: 100vw;

    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-delay: 500ms;
    animation-iteration-count: 1;
    animation-direction: alternate;

    @media (min-width: 760px) {
      height: calc(100vh - 36px);
      width: 50vw;
    }
  }

  &__thumb-triatlon {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../images/hero/tri.jpg') no-repeat center;
    background-size: cover;
    @media (max-width: 760px) {
      animation-name: changeSizeTri;
    }
  }

  &__thumb-run {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../images/hero/run.jpg') no-repeat center;

    background-size: cover;
    @media (max-width: 760px) {
      animation-name: changeSizeRun;
    }
  }

  &__help-text {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translateX(-50%);

    font-weight: 500;
    font-size: 12px;
    line-height: 130%;

    @media (min-width: 760px) {
      top: 47%;
      font-size: 16px;
    }
  }

  &__arrow-up {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);

    width: 20px;
    height: 60px;
    background: url('../images/hero/arrow-up.png') no-repeat center;

    @media (min-width: 760px) {
      top: 39%;
      left: 55%;
      width: 60px;
      height: 60px;
      background: url('../images/hero/arrow-right.png') no-repeat center;
    }
  }

  &__arrow-down {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translateX(-50%);

    width: 20px;
    height: 60px;
    background: url('../images/hero/arrow-down.png') no-repeat center;

    @media (min-width: 760px) {
      top: 51%;
      left: 44%;
      width: 60px;
      height: 60px;
      background: url('../images/hero/arrow-left.png') no-repeat center;
    }
  }
}
