.content-packages {
  width: 100vw;
  max-width: 1440px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #000000;
  color: $accent-color;
  padding: 70px 20px 20px 20px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);

  &__logo {
    position: absolute;
    top: 25px;
    left: 20px;
    height: 25px;
    @media (min-width: 760px) {
      top: 25px;
      left: 36px;
      height: 44px;
    }
  }

  &__wrap {
    display: none;
    @media (min-width: 1160px) {
      display: inline-block;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    @media (min-width: 1160px) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    position: relative;
    border: 1px solid $accent-color;
    width: 320px;
    height: 625px;
    padding: 27px;
    margin: 15px;
    background: rgba(0, 0, 0, 0.42);
    border-radius: 8px;

    @media (min-width: 1160px) {
      width: 100%;
      height: 685px;
    }
  }

  &__icon-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    right: 30px;
  }

  &__icon {
    width: 27px;
    height: 21px;
    @media (min-width: 760px) {
      width: 46px;
      height: 30px;
    }
  }

  &__icon-text {
    font-weight: 700;
    font-size: 8px;
    line-height: 120%;
    color: $accent-color;
    @media (min-width: 760px) {
      font-weight: 500;
      font-size: 12px;
      line-height: 123%;
    }
  }

  &__membership {
    font-weight: 700;
    font-size: 17px;
    line-height: 125%;
    color: $accent-color;
    padding-bottom: 2px;
    border-bottom: 2px solid $accent-color;
    width: fit-content;
    margin-bottom: 20px;

    @media (min-width: 1160px) {
      font-weight: 600;
      font-size: 30px;
      line-height: 140%;
    }
  }

  &__price-crossed-wrap {
    position: relative;
  }

  &__price-crossed {
    position: absolute;
    width: 70px;
    top: 5px;
    left: -7px;

    @media (min-width: 1160px) {
      width: 77px;
      left: -3px;
    }
  }

  &__old-price {
    font-weight: 600;
    font-size: 22px;
    line-height: 105.5%;
    margin-bottom: 10px;
    color: $light-text-color;
    @media (min-width: 1160px) {
      font-size: 28px;
      line-height: 120%;
    }
  }

  &__price {
    font-weight: 800;
    font-size: 32px;
    line-height: 105.5%;
    color: $accent-color;
    margin-bottom: 20px;
    @media (min-width: 1160px) {
      font-size: 40px;
      line-height: 120%;
    }
  }

  &__features-list {
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__features-item {
    display: flex;
    justify-content: space-between;
  }

  &__features-point {
    font-weight: 500;
    font-size: 12px;
    line-height: 123%;
    color: #d2d2d2;
  }

  &__features-stats {
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    text-align: end;
  }

  &__btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    font-weight: 700;
    font-size: 16px;
    line-height: 120%;

    border: none;
    cursor: pointer;
    background-color: $accent-color;
    color: $dark-text-color;
    text-align: center;

    width: 155px;
    height: 32px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid $accent-color;

    transition: $transition;
    transition-timing-function: $cubic-bezier;

    &:hover {
      background-color: transparent;
      color: $accent-color;
      border: 1px solid $accent-color;
    }

    @media (min-width: 1160px) {
      width: 220px;
      height: 41px;
    }
  }
  // ! SWIPER

  &__swiper {
    width: 100%;
    height: 100%;
    @media (min-width: 1160px) {
      display: none !important;
    }
  }
}
