.content-packages {
  // width: 100vw;
  // height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #000000;
  color: $accent-color;
  padding: 70px 20px 20px 20px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);

  max-width: -webkit-fill-available;
  height: 100%;
  @media (min-width: 760px) {
    max-width: 420px;
  }
  @media (min-width: 1160px) {
    max-width: 1440px;
  }

  &__logo {
    position: absolute;
    top: 25px;
    left: 20px;
    height: 20px;
    @media (min-width: 1160px) {
      top: 25px;
      left: 36px;
      height: 44px;
    }
  }

  &__wrap {
    display: none;
    @media (min-width: 1160px) {
      display: inline-block;
    }
  }

  &__list {
    @media (min-width: 1160px) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      flex-wrap: nowrap;
    }
  }

  &__item {
    position: relative;
    border: 1px solid $accent-color;
    padding: 27px;
    background: rgba(30, 56, 53, 0.42);
    border-radius: 8px;
    // max-width: 420px;
    // height: 1800px;

    @media (min-width: 1160px) {
      background: rgba(23, 23, 23, 0.42);
      margin: 15px;
      width: 320px;
      height: 685px;
    }
  }

  &__icon-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    right: 30px;
  }

  &__icon {
    width: 27px;
    height: 21px;
    @media (min-width: 760px) {
      width: 46px;
      height: 30px;
    }
  }

  &__icon-text {
    font-weight: 700;
    font-size: 8px;
    line-height: 120%;
    color: $accent-color;
    @media (min-width: 760px) {
      font-weight: 500;
      font-size: 12px;
      line-height: 123%;
    }
  }

  &__membership {
    font-weight: 700;
    font-size: 17px;
    line-height: 125%;
    color: $accent-color;
    padding-bottom: 2px;
    border-bottom: 2px solid $accent-color;
    width: fit-content;
    margin-bottom: 20px;

    @media (min-width: 1160px) {
      font-weight: 600;
      font-size: 30px;
      line-height: 140%;
    }
  }

  &__price-crossed-wrap {
    position: relative;
  }

  &__price-crossed {
    position: absolute;
    width: 70px;
    top: 5px;
    left: -7px;

    @media (min-width: 1160px) {
      width: 77px;
      left: -3px;
    }
  }

  &__old-price {
    font-weight: 600;
    font-size: 22px;
    line-height: 105.5%;
    margin-bottom: 10px;
    color: $light-text-color;
    @media (min-width: 1160px) {
      font-size: 28px;
      line-height: 120%;
    }
  }

  &__price {
    font-weight: 800;
    font-size: 32px;
    line-height: 105.5%;
    color: $accent-color;
    margin-bottom: 20px;
    @media (min-width: 1160px) {
      font-size: 40px;
      line-height: 120%;
    }
  }

  &__features-list {
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 1160px) {
      height: 360px;
    }
  }

  &__features-item {
    display: flex;
    justify-content: space-between;
  }

  &__features-point {
    font-weight: 500;
    font-size: 12px;
    line-height: 123%;
    color: #d2d2d2;
  }

  &__features-stats {
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    text-align: end;
  }

  &__btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    font-weight: 600;
    font-size: 12px;
    line-height: 120%;

    border: none;
    cursor: pointer;
    background-color: $accent-color;
    color: $dark-text-color;
    text-align: center;

    width: 155px;
    height: 32px;
    border-radius: 4px;

    border: 1px solid $accent-color;

    transition: $transition;
    transition-timing-function: $cubic-bezier;

    &:hover {
      background-color: transparent;
      color: $accent-color;
      border: 1px solid $accent-color;
    }

    @media (min-width: 1160px) {
      width: 220px;
      height: 41px;
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
  // ! SWIPER

  & .swiper {
    width: 300px;
    // height: 100%;
    // margin-top: 20px;
    // overflow: visible !important;
    @media (min-width: 760px) {
      width: 400px;
    }
    @media (min-width: 1160px) {
      display: none !important;
    }
  }
  & .swiper-slide {
    height: 628px;
    // width: 100%;
    // z-index: -100 !important;
  }

  & .swiper-button-prev,
  & .swiper-rtl & .swiper-button-next {
    position: absolute !important;
    top: 43px !important;
    left: 157px !important;
    width: 19px !important;
    height: 30px !important;
    color: transparent !important;
    background: url('../images/triathlon/packages/left.png') center/contain
      no-repeat;

    @media (min-width: 760px) {
      left: 200px !important;
    }
    @media (min-width: 1160px) {
      display: none !important;
    }
  }

  & .swiper-button-next {
    position: absolute !important;

    top: 43.5px !important;
    left: 192px !important;
    width: 19px !important;
    height: 30px !important;
    color: transparent !important;
    background: url('../images/triathlon/packages/right.png') center/contain
      no-repeat;
    @media (min-width: 760px) {
      left: 230px !important;
    }
    @media (min-width: 1160px) {
      display: none !important;
    }
  }
}
