@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: $primary-bg-color;
  // background-color: wheat;
  color: $light-text-color;
  font-family: $fontFamily;
  // overflow: hidden;
}

section {
  padding: 25px 0;
}
.container {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: 768px) {
    padding: 0;
    max-width: 1160px;
  }
}
