<section class="hero">
  <div class="hero__link-wrapper">
    <a id="tri" class="hero__link" href="./triathlon.html">
      <div class="hero__thumb-triathlon"></div>
      <h2 class="hero__title-tri">Triatlon</h2></a>
  </div>
  <div class="hero__link-wrapper">
    <a id="run" class="hero__link" href="./run.html">
      <div class="hero__thumb-run"></div>
      <h2 class="hero__title-run">Run</h2>
    </a>
  </div>
  <div class="hero__arrow-up"></div>
  <p class="hero__help-text">Choose direction</p>
  <div class="hero__arrow-down"></div>
</section>
