<section class="achievements">
  <div class="container">
    <div class="achievements__wraper">
      <h2 class="achievements__title">Досягнення</h2>
      <ul class="achievements__list">
        <li class="achievements__item achievements__item-one" style="
            background: linear-gradient(
                rgba(0, 0, 0, 0.47) 40.52%,
                rgba(0, 0, 0, 0.78) 60.54%,
                rgba(0, 0, 0, 0.47) 90.89%
              ),
              url('../../.././images/triathlon/achievements/achievements1.jpg')
                center/cover no-repeat;
          ">
          <div class="achievements__item-thumb">
            <p class="achievements__numbers-big">51</p>
            <p class="achievements__text-big">IRONMAN підготовлений з нуля</p>
          </div>
        </li>
        <li class="achievements__item achievements__item-two" style="
            background: linear-gradient(
                rgba(0, 0, 0, 0.47) 40.52%,
                rgba(0, 0, 0, 0.78) 60.54%,
                rgba(0, 0, 0, 0.47) 90.89%
              ),
              url('../../.././images/triathlon/achievements/achievements2.jpg')
                center/cover no-repeat;
          ">
          <div class="achievements__item-thumb">
            <p class="achievements__numbers">280</p>
            <p class="achievements__text">учнів, найбільший клуб України</p>
          </div>
        </li>
        <li class="achievements__item achievements__item-three" style="
            background: linear-gradient(
                rgba(0, 0, 0, 0.47) 40.52%,
                rgba(0, 0, 0, 0.78) 60.54%,
                rgba(0, 0, 0, 0.47) 90.89%
              ),
              url('../../.././images/triathlon/achievements/achievements3.jpg')
                center/cover no-repeat;
          ">
          <div class="achievements__item-thumb">
            <p class="achievements__numbers">№1</p>
            <p class="achievements__text">
              у Європі по рейтингу IRONMAN Triclub Ranking IV division
            </p>
          </div>
        </li>
        <li class="achievements__item achievements__item-four" style="
            background: linear-gradient(
                rgba(0, 0, 0, 0.47) 40.52%,
                rgba(0, 0, 0, 0.78) 60.54%,
                rgba(0, 0, 0, 0.47) 90.89%
              ),
              url('../../.././images/triathlon/achievements/achievements4.jpg')
                center/cover no-repeat;
          ">
          <div class="achievements__item-thumb">
            <p class="achievements__numbers">11</p>
            <p class="achievements__text">
              учнів запрошено на IRONMAN World Championship
            </p>
          </div>
        </li>
        <li class="achievements__item achievements__item-five" style="
            background: linear-gradient(
                rgba(0, 0, 0, 0.47) 40.52%,
                rgba(0, 0, 0, 0.78) 60.54%,
                rgba(0, 0, 0, 0.47) 90.89%
              ),
              url('../../.././images/triathlon/achievements/achievements5.jpg')
                center/cover no-repeat;
          ">
          <div class="achievements__item-thumb">
            <p class="achievements__numbers">7</p>
            <p class="achievements__text">
              років підготовки аматорів до триатлону
            </p>
          </div>
        </li>
        <li class="achievements__item-rectangle achievements__item-six" style="
            background: linear-gradient(
                rgba(0, 0, 0, 0.47) 40.52%,
                rgba(0, 0, 0, 0.78) 60.54%,
                rgba(0, 0, 0, 0.47) 90.89%
              ),
              url('../../.././images/triathlon/achievements/achievements6.jpg')
                center/cover no-repeat;
          ">
          <div class="achievements__item-thumb-rectangle">
            <p class="achievements__text-rectangle">Рекорди <br>команди</p>
            <div class="achievements__wrap-rectangle">
              <img src="../../.././images/triathlon/achievements/ironman-icon.png" alt>
              <div class="achievements__wrap-result-rectangle">
                <p class="achievements__result-rectangle achievements__result-rectangle-red">
                  5:42:40
                </p>
                <p class="achievements__result-rectangle">4:12:46</p>
              </div>
            </div>
            <div class="achievements__wrap-rectangle">
              <img src="../../.././images/triathlon/achievements/ironman-icon2.png" alt>
              <div class="achievements__wrap-result-rectangle">
                <p class="achievements__result-rectangle achievements__result-rectangle-red">
                  11:03:05
                </p>
                <p class="achievements__result-rectangle">8:16:10</p>
              </div>
            </div>
          </div>
        </li>
        <li class="achievements__item-rectangle achievements__item-seven" style="
            background: url('../../.././images/triathlon/achievements/achievements7.jpg')
              center/cover no-repeat;
          "></li>
      </ul>
    </div>
  </div>
</section>
