.achievements {
  height: 100%;
  background: url('../images/triathlon/achievements/background.png')
    center/contain;
  padding: 25px 0;

  &__wraper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-style: italic;
    font-weight: 900;
    font-size: 19px;
    line-height: 120%;
    text-transform: uppercase;
    color: $accent-color;
    margin-bottom: 20px;
    @media (min-width: 760px) {
      font-size: 40px;
      margin-bottom: 40px;
    }
  }

  &__list {
    display: grid;
    gap: 15px;

    justify-items: center;
    align-items: center;

    @media (min-width: 760px) {
      min-height: 1200px;
      width: 90%;

      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
      grid-template-areas:
        'one one one one'
        'one one one one'
        'two three four five'
        'six six seven seven';
      align-content: space-around;
      margin-bottom: 30px;
    }
    @media (min-width: 1200px) {
      max-width: 1100px;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 33% 33% 33%;
      grid-template-areas:
        'one one two three'
        'one one four five'
        'six six seven seven';
    }
  }

  &__item {
    position: relative;
    // border: 1px solid $accent-color;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(
        #89d7d7,
        rgba(137, 215, 215, 0.25),
        rgba(137, 215, 215, 0.26),
        #89d7d7
      )
      1;
    display: inline-block;
    width: 320px;
    height: 320px;
    text-align: center;
    @media (min-width: 760px) {
      width: 100%;
      height: 100%;
    }
  }

  &__item-thumb {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }

  &__numbers,
  &__numbers-big {
    font-weight: 800;
    font-size: 50px;
    line-height: 120%;
    color: rgba(137, 215, 215, 0.8);
  }

  &__text,
  &__text-big {
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
  }

  &__item-rectangle {
    position: relative;
    // margin: 12px 0;
    border: 1px solid $accent-color;
    display: inline-block;
    width: 320px;
    height: 180px;
    text-align: center;
    @media (min-width: 760px) {
      width: 100%;
      height: 100%;
    }
  }

  &__item-thumb-rectangle {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media (min-width: 760px) {
      flex-direction: column;
    }
    @media (min-width: 1200px) {
      flex-direction: row;
    }
  }

  &__text-rectangle {
    font-weight: 700;
    font-size: 19px;
    line-height: 105.5%;
    color: $accent-color;
    @media (min-width: 760px) {
      font-size: 40px;
    }
  }

  &__wrap-rectangle {
    height: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__result-rectangle {
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
    color: $accent-color;
    @media (min-width: 760px) {
      font-size: 24px;
    }
  }

  &__result-rectangle-red {
    color: #f42d51;
  }

  @media (min-width: 760px) {
    &__item-one {
      grid-area: one;
    }
    &__item-two {
      grid-area: two;
    }
    &__item-three {
      grid-area: three;
    }
    &__item-four {
      grid-area: four;
    }
    &__item-five {
      grid-area: five;
    }
    &__item-six {
      grid-area: six;
    }
    &__item-seven {
      grid-area: seven;
    }

    &__numbers-big {
      font-size: 120px;
    }

    &__numbers {
      font-size: 64px;
    }

    &__text-big {
      font-size: 24px;
      line-height: 130%;
    }

    &__text {
      font-size: 16px;
      line-height: 130%;
    }
  }
}
