.team {
  &__title {
    font-style: italic;
    font-weight: 900;
    font-size: 19px;
    line-height: 120%;
    color: $accent-color;
    margin-bottom: 15px;

    @media (min-width: 760px) {
      font-size: 40px;
    }
  }

  &__tips {
    display: flex;
    justify-content: end;
    margin-bottom: 25px;
    @media (min-width: 1200px) {
      display: none;
    }
  }

  &__tips-icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }

  &__tips-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: $light-text-color;
    width: 45%;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    // perspective: 1000px;

    @media (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    width: 320px;
    height: 460px;
    border-radius: 8px;
    margin: 15px;

    @media (min-width: 1200px) {
      width: 367px;
      height: 575px;
    }
  }

  &__wrap {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  &__front {
    width: 100%;
    height: 100%;
    padding: 15px 28px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &__name {
    font-weight: 700;
    font-size: 17px;
    line-height: 125%;
    color: $accent-color;
    @media (min-width: 1200px) {
      font-weight: 600;
      font-size: 30px;
      line-height: 140%;
    }
  }

  &__position {
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
    color: $accent-color;

    @media (min-width: 1200px) {
      font-weight: 600;
      font-size: 24px;
      line-height: 130%;
    }
  }

  //   BACK SIDE

  &__back {
    background: url('../images/triathlon/team/back-bg.png') center/cover
      no-repeat;
    padding: 15px;

    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(
        #89d7d7,
        rgba(137, 215, 215, 0.25),
        rgba(137, 215, 215, 0.26),
        #89d7d7
      )
      1;
    border-radius: 8px;
  }

  &__back-portrait-box {
    display: flex;
    justify-content: space-between;
  }

  &__back-box-img {
    width: 148px;
    height: 148px;
    border-radius: 11px;
  }

  &__back-box-list {
    width: 40%;
  }

  &__back-box-item {
    margin-bottom: 15px;
  }

  &__back-box-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 110%;
    color: #c4c4c4;
  }

  &__back-box-stats {
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
    color: $accent-color;
  }

  &__back-info-box {
    margin-top: 17px;
    color: $accent-color;
  }

  &__back-info-name {
    font-weight: 700;
    font-size: 17px;
    line-height: 125%;
    margin-bottom: 3px;
  }

  &__back-info-position {
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
    margin-bottom: 16px;
  }

  &__back-info-wrap {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__back-info-list {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__back-info-item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__back-info-icons {
    display: flex;
  }

  &__back-info-link:not(:last-child) {
    margin-right: 8px;
  }
}

// * ANIMATION

.flip-card {
  background-color: transparent;
  //   width: 300px;
  //   height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  //   text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  //   background-color: #bbb;
  //   color: black;
}

.flip-card-back {
  //   background-color: #2980b9;
  //   color: white;
  transform: rotateY(180deg);
}
