.sucseed {
  background-color: $accent-color;
  padding: 0;

  // @media (min-width: 760px) {
  //   height: 100vh;
  // }

  &__container {
    padding: 0;
    @media (min-width: 760px) {
      display: flex;
    }
  }

  &__bg {
    position: relative;
    background: linear-gradient(
        rgba(137, 215, 215, 0.7),
        rgba(137, 215, 215, 0.7)
      ),
      url('../images/triathlon/sucseed/bg.jpg') center/cover no-repeat;
  }

  &__title {
    font-style: italic;
    font-weight: 900;
    font-size: 19px;
    line-height: 120%;
    color: $dark-text-color;

    padding: 25px 20px;

    @media (min-width: 760px) {
      font-size: 40px;
      text-align: center;
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 20px;
    @media (min-width: 760px) {
      justify-content: space-around;
    }
  }

  &__item {
    padding: 5px;
    width: calc(50% - 15px);
    margin-bottom: 30px;
    text-align: center;
    border: 2px solid transparent;
    @media (min-width: 760px) {
      max-width: 300px;
    }
    // transition: $transition;
    // transition-timing-function: $cubic-bezier;
    // &:hover {
    //   border: 2px solid rgba(137, 215, 215, 0.8);
    //   background-color: rgba(255, 255, 255, 0.3);
    //   border-radius: 8px;
    // }
  }

  &__text {
    color: $dark-text-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    @media (min-width: 760px) {
      font-size: 16px;
    }
  }

  &__icon {
    width: 32px;
    @media (min-width: 760px) {
      width: 62px;
      margin-bottom: 21px;
    }
  }

  &__wrap-info {
    position: relative;
    padding-bottom: 50px;
    @media (min-width: 760px) {
      width: 100%;
      min-height: 100%;
      overflow: hidden;

      // display: flex;
      // align-items: center;
      padding: 0 40px;
    }
  }

  &__triangle {
    position: absolute;
    top: -30;
    left: 20;
    @media (min-width: 760px) {
      display: none;
    }
  }

  &__triangle-left {
    display: none;
    @media (min-width: 760px) {
      display: block;
      position: absolute;
      right: -25px;
      top: 90px;
    }
  }

  &__info-text {
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
    color: $dark-text-color;
    padding: 25px 0;
    width: 90%;
  }

  &__info-bg-flower-mob {
    position: absolute;
    right: -10;
    bottom: 10%;

    @media (min-width: 760px) {
      display: none;
    }
  }

  &__info-bg-flower-desc-1 {
    display: none;

    @media (min-width: 760px) {
      display: block;
      position: absolute;
      right: -30px;
      bottom: 70%;

      width: 120px;
      height: 120px;
    }
  }

  &__info-bg-flower-desc-2 {
    display: none;
    @media (min-width: 760px) {
      display: block;
      position: absolute;
      right: 60%;
      bottom: 40%;

      width: 150px;
      height: 150px;
    }

    @media (min-width: 990px) {
      display: block;
      position: absolute;
      right: 60%;
      bottom: 25%;

      width: 150px;
      height: 150px;
    }
  }

  &__info-bg-flower-desc-3 {
    display: none;
    @media (min-width: 760px) {
      display: block;
      position: absolute;
      right: -35%;
      bottom: 10px;

      width: 300px;
      height: 300px;
    }
    @media (min-width: 990px) {
      display: block;
      position: absolute;
      right: -15%;
      bottom: 10px;

      width: 300px;
      height: 300px;
    }
  }
}

// ! SWIPER

.swiper {
  width: 100%;
  height: 200px;
  @media (min-width: 760px) {
    position: absolute;
    top: 0;
    height: 340px;
  }
}

.swiper-slide {
  //   * Center slide text vertically *
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: start;
}

.swiper-pagination {
  position: absolute;
  bottom: 0px;
  @media (min-width: 760px) {
    display: none;
  }

  & .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 1);
    opacity: 1;
    @media (min-width: 760px) {
      display: none;
    }
  }

  & .swiper-pagination-bullet-active {
    color: #fff;
    background: black;
    @media (min-width: 760px) {
      display: none;
    }
  }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  @media (max-width: 759px) {
    display: none !important;
  }
  @media (min-width: 759px) {
    position: absolute !important;
    top: 74px !important;
    left: 60% !important;
    width: 39px !important;
    height: 30px !important;
    color: transparent !important;
    background: url('../images/triathlon/sucseed/arrow-left.png') center/contain
      no-repeat;
  }
}

.swiper-button-next {
  @media (max-width: 759px) {
    display: none !important;
  }
  @media (min-width: 759px) {
    position: absolute !important;
    top: 74px !important;
    left: 80% !important;
    width: 39px !important;
    height: 30px !important;
    color: transparent !important;
    background: url('../images/triathlon/sucseed/arrow-right.png')
      center/contain no-repeat;
  }
}
