<div id="popup-form" class="popup">
  <div class="popup__body">
    <div class="popup__content contact-form">
      <a
        class="popup__close popup__close_small close-popup close-icon close-icon_small"
        ><span></span
      ></a>
      <div class="popup__title">Ви за крок до мети</div>
      <div class="popup__subtitle">
        Залишіть заявку, наш менеджер набере вас найближчим часом і розкаже, як
        розпочати тренування у team404
      </div>
      <div class="popup__form form">
        <form autocomplete="off" id="form" action="" method="POST">
          <input
            id="form-name"
            type="text"
            name="name"
            placeholder="Імʼя"
            class="form__input"
            required
          />

          <input
            type="tel"
            id="phone"
            name="phone"
            placeholder="Номер телефону"
            class="form__input"
            autocomplete="off"
            required
          />

          <input
            type="submit"
            class="button button_accent form__button"
            value="Відправити"
          />
        </form>
      </div>
    </div>
  </div>
</div>
