<header id="header" class="header lock-padding">
  <div class="container header__body">
    <div class="header__logo-wrapper">
      <a href="./index.html" class="header__logo">
        <img src="./images/common/logo.svg" alt="logo team404-expats" />
      </a>
      <div class="header__logo-text">№1 в Европе по версии IRONMAN</div>
    </div>
    <div class="header__flag">
      <div class="header__blue"></div>
      <div class="header__yellow"></div>
    </div>

    <div class="header__actions">
      <a href="#popup-form" type="button" class="button popup-link header__cta">
        Записатись
      </a>
      <button class="header__lang-btn">ua</button>
      <div class="header__burger">
        <span></span>
      </div>
    </div>
    <nav class="header__menu">
      <ul class="header__list">
        <li>
          <a href="#achievments" class="header__link">Achievments</a>
        </li>
        <li>
          <a href="#packages" class="header__link">Packages</a>
        </li>
        <li>
          <a href="#how-it-works" class="header__link">How does it work</a>
        </li>
        <li>
          <a href="#team" class="header__link">Team</a>
        </li>
      </ul>
      <div class="header__contacts contacts">
        <div class="social-icons contacts_social-icons">
          <a
            href="https://www.facebook.com/profile.php?id=100083286185141"
            class="social-icon-button"
            target="_blank"
          >
            <img
              class="icons"
              src="./images/common/facebook.svg"
              alt="facebook icon"
            />
          </a>
          <a
            href="https://instagram.com/team404.expats?igshid=YmMyMTA2M2Y="
            class="social-icon-button"
            target="_blank"
          >
            <img
              class="icons"
              src="./images/common/instagram.svg"
              alt="instagram icon"
            />
          </a>
        </div>
        <div class="contacts_email contacts_accent">team404@gmail.com</div>
      </div>
    </nav>
  </div>
</header>
