<section class="hero">
  <div class="hero__box-wrapper">
    <h2 class="hero__title">Триатлон</h2>
    <a class="hero__link" href="./triatlon.html">
      <div class="hero__thumb-triatlon">
        <img class="hero__triatlon" src="./images/tri@2.jpg" alt="" /></div
    ></a>
  </div>
  <div class="hero__box-wrapper">
    <h2 class="hero__title">Біг</h2>
    <a class="" href="./run.html">
      <div class="hero__thumb-run">
        <img class="hero__run" src="./images/run@2.jpg" alt="" />
      </div>
    </a>
  </div>
</section>
