<section class="hero">
  <div class="hero__link-wrapper">
    <a id="tri" class="hero__link" href="./triatlon.html">
      <h2 class="hero__title-tri">Триатлон</h2>
      <div class="hero__thumb-triatlon"></div
    ></a>
  </div>
  <div class="hero__link-wrapper">
    <a id="run" class="hero__link" href="./run.html">
      <h2 class="hero__title-run">Біг</h2>
      <div class="hero__thumb-run"></div>
    </a>
  </div>
  <div class="hero__arrow-up"></div>
  <p class="hero__help-text">Обери направлення</p>
  <div class="hero__arrow-down"></div>
</section>
