<div id="popup-support" class="popup">
  <div class="popup__body">
    <div class="popup__content support-box">
      <a
        class="popup__close popup__close_small close-popup close-icon close-icon_light close-icon_small"
        ><span></span
      ></a>
      <ul class="support-modal">
        <li class="support-modal__item">
          <div class="support-modal__wrap-text">
            <p class="support-modal__title">Visa / Mastercard</p>
            <p id="p1" class="support-modal__info">5457082220010073</p>
          </div>
          <img
            onclick="copyContent('p1')"
            class="support-modal__copy-icon"
            src="./images/triathlon/support/copy.svg"
            alt="copy this text"
          />
        </li>
        <li class="support-modal__item">
          <div class="support-modal__wrap-text">
            <p class="support-modal__title">PayPal</p>
            <p id="p2" class="support-modal__info" onclick="copy(this)">
              m.adamova.v@gmail.com
            </p>
          </div>
          <img
            onclick="copyContent('p2')"
            class="support-modal__copy-icon"
            src="./images/triathlon/support/copy.svg"
            alt="copy this text"
          />
        </li>
        <li class="support-modal__item">
          <div class="support-modal__wrap-text">
            <p class="support-modal__title">Криптовалюта</p>
            <p class="support-modal__info">
              <span class="support-modal__subtext">USDT (TRC20):</span
              ><br /><span id="p3">TXn8E9usaHk4mU5nw2u6Yrwy3HubCH8mE3</span>
            </p>
          </div>
          <img
            onclick="copyContent('p3')"
            class="support-modal__copy-icon"
            src="./images/triathlon/support/copy.svg"
            alt="copy this text"
          />
        </li>
        <li class="support-modal__item">
          <div class="support-modal__wrap-text">
            <p class="support-modal__info">
              <span class="support-modal__subtext">ETH (ERC20):</span
              ><br /><span id="p4"
                >0x5db16f13bc84ce096077522a594041cc86ff797d</span
              >
            </p>
          </div>
          <img
            onclick="copyContent('p4')"
            class="support-modal__copy-icon"
            src="./images/triathlon/support/copy.svg"
            alt="copy this text"
          />
        </li>
        <li class="support-modal__item">
          <div class="support-modal__wrap-text">
            <p class="support-modal__info">
              <span class="support-modal__subtext">Bitcoin:</span><br /><span
                id="p5"
                >1J8q4VJ3hgqHwQM16kigdmJtLxa7dP6nsT</span
              >
            </p>
          </div>
          <img
            onclick="copyContent('p5')"
            class="support-modal__copy-icon"
            src="./images/triathlon/support/copy.svg"
            alt="copy this text"
          />
        </li>
      </ul>
    </div>
  </div>
</div>
