<section class="achievements">
  <div class="container">
    <div class="achievements__wraper">
      <h2 class="achievements__title">Досягнення</h2>
      <ul class="achievements__list">
        <li
          class="achievements__item"
          style="
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.47) 10.52%,
                rgba(0, 0, 0, 0.78) 30.54%,
                rgba(0, 0, 0, 0.47) 66.89%
              ),
              url('./images/triathlon/achievements/achievements1.jpg')
                center/cover no-repeat;
          "
        >
          <p class="achievements__numers">51</p>
          <p class="achievements__text">IRONMAN підготовлений з нуля</p>
        </li>
        <li
          class="achievements__item"
          style="
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.47) 10.52%,
                rgba(0, 0, 0, 0.78) 30.54%,
                rgba(0, 0, 0, 0.47) 66.89%
              ),
              url('./images/triathlon/achievements/achievements2.jpg')
                center/cover no-repeat;
          "
        >
          <p class="achievements__numers">280</p>
          <p class="achievements__text">учнів, найбільший клуб України</p>
        </li>
        <li
          class="achievements__item"
          style="
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.47) 10.52%,
                rgba(0, 0, 0, 0.78) 30.54%,
                rgba(0, 0, 0, 0.47) 66.89%
              ),
              url('./images/triathlon/achievements/achievements3.jpg')
                center/cover no-repeat;
          "
        >
          <p class="achievements__numers">№1</p>
          <p class="achievements__text">
            у Європі по рейтингу IRONMAN Triclub Ranking IV division
          </p>
        </li>
        <li
          class="achievements__item"
          style="
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.47) 10.52%,
                rgba(0, 0, 0, 0.78) 30.54%,
                rgba(0, 0, 0, 0.47) 66.89%
              ),
              url('./images/triathlon/achievements/achievements4.jpg')
                center/cover no-repeat;
          "
        >
          <p class="achievements__numers">11</p>
          <p class="achievements__text"></p>
        </li>
        <li
          class="achievements__item"
          style="
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.47) 10.52%,
                rgba(0, 0, 0, 0.78) 30.54%,
                rgba(0, 0, 0, 0.47) 66.89%
              ),
              url('./images/triathlon/achievements/achievements5.jpg')
                center/cover no-repeat;
          "
        >
          <p class="achievements__numers">7</p>
          <p class="achievements__text">
            років підготовки аматорів до триатлону
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
