<section class="tri" title="ТОП 1 Тріатлон клуб України">
  <div class="container">
    <div class="tri__wrap">
      <h1 class="tri__title">
        <span class="tri__title-italic">Кращий</span> триатлон <br />клуб
        <span class="tri__title-italic">України</span>
      </h1>
      <p class="tri__text">№1 у Європі <br />по рейтингу IRONMAN</p>
      <button href="#popup-form" type="button" class="tri__btn popup-link">
        Вступити в Team404
      </button>
      <div class="tri__pin"></div>
    </div>
  </div>
</section>
