<section class="support">
  <div class="container support__container">
    <div class="support__main-wrap">
      <div class="support__text-wrap">
        <h2 class="support__title">Ми з України!</h2>
        <!-- <p class="support__text"></p> -->
        <p class="support__text">
          До початку війни, Team404 — команда з триатлону та бігу, яка готувала
          атлетів до IRONAMN офлайн у місті Харків. Харків — знаходиться на
          сході України, всього у 40 км від країни-терористу, Росії.
        </p>
        <p class="support__text">
          За мирних часів наша команда їздила довгі велотренування до кордону та
          назад. Сьогодні, Team404 покинула рідне місто.Ми намагаємось
          продовжувати роботу та робити, те що вміємо!
        </p>
        <p class="support__text">
          Україні потрібна здорова нація. Будемо щасливі та вдячні будь-якому
          донату! Підтримай проект – зроби вклад в оздоровлення нації.
        </p>
        <p class="support__text">
          Усі зібрані кошти підуть на розвиток та відновлення спорту та
          здорового способу життя українців.
        </p>
      </div>
      <div
        class="support__img-box"
        style="
          background: linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)),
            url('./images/triathlon/support/photo.jpg') center/cover no-repeat;
        "
      ></div>
    </div>
    <div class="support__btn-wrap">
      <button
        class="support__btn popup-link"
        href="#popup-support"
        type="button"
      >
        Допомогти донатом
      </button>
      <div class="support__links-wrap">
        <a class="support__link" href="#"
          ><img
            class="support__pay-pal-icons"
            src="./images/triathlon/support/pay-pal.svg"
            alt="pay-pal link" /></a
        ><a class="support__link" href="#"
          ><img
            class="support__visa-icons"
            src="./images/triathlon/support/visa.svg"
            alt="visa link"
        /></a>
      </div>
    </div>
  </div>
</section>
