<section class="packages">
  <div class="container">
    <h2 class="packages__title">ПАКЕТИ</h2>
    <ul class="packages__list">
      <li class="packages__item">
        <div class="packages__icon-wrap">
          <img
            class="packages__icon"
            src="./images/triathlon/packages/economical.png"
            alt=""
          />
          <p class="packages__icon-text">прогрес</p>
        </div>
        <p class="packages__membership">ЕКОНОМ</p>
        <div class="packages__price-crossed-wrap">
          <p class="packages__old-price">$50</p>
          <img
            class="packages__price-crossed"
            src="./images/triathlon/packages/red-line.png"
            alt=""
          />
        </div>
        <p class="packages__price">$40</p>
        <div class="packages__list-btn-wrap">
          <ul class="packages__features-list">
            <li class="packages__features-item">
              Індивідуальний тренувальний план на місяць
            </li>
            <li class="packages__features-item">Щомісячний розбір тренувань</li>
          </ul>
          <div class="packages__btn-wrap">
            <a class="packages__buy-btn">Придбати абонемент</a>
            <a
              href="#popup-packages"
              class="packages__more-btn popup-link"
              onclick="openTab(event, 'tri')"
              >Детальніше</a
            >
          </div>
        </div>
      </li>
      <li class="packages__item">
        <div class="packages__icon-wrap">
          <img
            class="packages__icon"
            src="./images/triathlon/packages/standart.png"
            alt=""
          />
          <p class="packages__icon-text">прогрес</p>
        </div>
        <p class="packages__membership">СТАНДАРТ</p>
        <div class="packages__price-crossed-wrap">
          <p class="packages__old-price">$150</p>
          <img
            class="packages__price-crossed"
            src="./images/triathlon/packages/red-line.png"
            alt=""
          />
        </div>
        <p class="packages__price">$100</p>
        <div class="packages__list-btn-wrap">
          <ul class="packages__features-list">
            <li class="packages__features-item">
              Індивідуальний тренувальний план
            </li>
            <li class="packages__features-item">
              ЩОТИЖНЕВИЙ розбір тренувань куратором
            </li>
            <li class="packages__features-item">Групові zoom тренування</li>
          </ul>
          <div class="packages__btn-wrap">
            <a class="packages__buy-btn">Придбати абонемент</a>
            <a
              href="#popup-packages"
              class="packages__more-btn popup-link"
              onclick="openTab(event, 'tri')"
              >Детальніше</a
            >
          </div>
        </div>
      </li>
      <li class="packages__item">
        <div class="packages__icon-wrap">
          <img
            class="packages__icon"
            src="./images/triathlon/packages/vip.png"
            alt=""
          />
          <p class="packages__icon-text">прогрес</p>
        </div>
        <p class="packages__membership">VIP</p>
        <div class="packages__price-crossed-wrap">
          <p class="packages__old-price">$500</p>
          <img
            class="packages__price-crossed"
            src="./images/triathlon/packages/red-line.png"
            alt=""
          />
        </div>
        <p class="packages__price">$400</p>
        <div class="packages__list-btn-wrap">
          <ul class="packages__features-list">
            <li class="packages__features-item">
              Індивідуальний тренувальний план
            </li>
            <li class="packages__features-item">
              ЩОДЕННИЙ контроль тренера та розбір кожного тренування
            </li>
            <li class="packages__features-item">
              Розбір ТЕХНІКИ бігу, плавання та вело 2-3 рази на тиждень
            </li>
            <li class="packages__features-item">
              Частково включено МЕРЧ, який ми відшиваємо
            </li>
          </ul>
          <div class="packages__btn-wrap">
            <a class="packages__buy-btn">Придбати абонемент</a>
            <a
              href="#popup-packages"
              class="packages__more-btn popup-link"
              onclick="openTab(event, 'tri')"
              >Детальніше</a
            >
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
