<div id="popup-programs" class="popup">
  <div class="popup__body">
    <div class="popup__content content-programs">
      <img
        src="./images/common/logo-default.svg"
        class="content-programs__logo"
        alt="logo team404"
      />
      <a class="popup__close close-popup close-icon"><span></span></a>
      <div class="content-programs__actions tab">
        <div
          onclick="openTab(event, 'tri')"
          class="content-programs__actions-button button button_accent-border button_square tablinks tablinks_tri"
        >
          Мій перший триатлон
        </div>
        <div
          onclick="openTab(event, 'iron-70')"
          class="content-programs__actions-button button button_accent-border button_square tablinks tablinks_iron-70"
        >
          IRONMAN 70.3
        </div>
        <div
          onclick="openTab(event, 'iron')"
          class="content-programs__actions-button button button_accent-border button_square tablinks tablinks_iron"
        >
          IRONMAN
        </div>
        <div
          onclick="openTab(event, 'iron-world')"
          class="content-programs__actions-button button button_accent-border button_square tablinks tablinks_iron-world"
        >
          IRONMAN
          <span class="text__body"> World Championship</span>
        </div>
      </div>
      <div class="content-programs__description-wrapper">
        <div
          id="tri"
          class="programs-description programs-description__tri tabcontent"
        >
          <div class="programs-description__head-block">
            <a
              href="#popup-form"
              type="button"
              class="content-programs__cta button button_accent popup-link"
              >Придбати абонемент</a
            >
            <div class="programs-description__preparation-length">
              <div
                class="programs-description__preparation-length_text text__subtitle text__subtitle_light"
              >
                Успішно пройшли
              </div>
              <div class="programs-description__preparation-length_numbers">
                123 атлети
              </div>
            </div>
            <div class="programs-description__preparation-length">
              <div
                class="programs-description__preparation-length_text text__subtitle text__subtitle_light"
              >
                Підготовка
              </div>
              <div class="programs-description__preparation-length_numbers">
                1-6 місяців
              </div>
            </div>
          </div>
          <div
            class="programs-description__preparation-text programs-description__preparation-text_list text__body"
          >
            <ul>
              <li>профілактика травм та зміцнення слабких місць</li>
              <li>розвиток серцево-судинної системи</li>
              <li>підбір екіпіровки, велосипеда, інвентарю</li>
              <li>навчання базової техніки плавання, вело та бігу</li>

              <li>створення та контроль системи регулярних тренувань</li>
              <li>
                налаштування раціону харчування, вітамінів, БАДів та корекція
                ваги
              </li>
              <li>знайомство з тонкощами триатлону та підведення до старту</li>
            </ul>
          </div>

          <div class="programs-description__photo">
            <img
              src="./images/triathlon/achievements/achievements7.jpg"
              alt="10k runners"
            />
          </div>
        </div>
        <div
          id="iron-70"
          class="programs-description programs-description__iron-70 tabcontent"
        >
          <div class="programs-description__head-block">
            <a
              href="#popup-form"
              type="button"
              class="content-programs__cta button button_accent popup-link"
              >Придбати абонемент</a
            >
            <div class="programs-description__preparation-length">
              <div
                class="programs-description__preparation-length_text text__subtitle text__subtitle_light"
              >
                Успішно пройшли
              </div>
              <div class="programs-description__preparation-length_numbers">
                89 атлетів
              </div>
            </div>
            <div class="programs-description__preparation-length">
              <div
                class="programs-description__preparation-length_text text__subtitle text__subtitle_light"
              >
                Підготовка
              </div>
              <div class="programs-description__preparation-length_numbers">
                3-12 місяців
              </div>
            </div>
          </div>
          <div
            class="programs-description__preparation-text programs-description__preparation-text_list text__body"
          >
            <ul>
              <li>підбір екіпіровки, велосипеда, інвентарю</li>
              <li>функціональне тестування атлета та докладний аналіз</li>
              <li>розробка індивідуального плану</li>
              <li>навчання економічній техніці плавання, вело та бігу</li>

              <li>тренування жирового метаболізму та аеробного обміну</li>
              <li>відпрацювання харчування на гонці</li>
              <li>виведення на пік форми до цільового старту</li>
            </ul>
          </div>

          <div class="programs-description__photo">
            <img
              src="./images/triathlon/achievements/achievements7.jpg"
              alt="10k runners"
            />
          </div>
        </div>
        <div
          id="iron"
          class="programs-description programs-description__iron tabcontent"
        >
          <div class="programs-description__head-block">
            <a
              href="#popup-form"
              type="button"
              class="content-programs__cta button button_accent popup-link"
              >Придбати абонемент</a
            >
            <div class="programs-description__preparation-length">
              <div
                class="programs-description__preparation-length_text text__subtitle text__subtitle_light"
              >
                Успішно пройшли
              </div>
              <div class="programs-description__preparation-length_numbers">
                51 атлет
              </div>
            </div>
            <div class="programs-description__preparation-length">
              <div
                class="programs-description__preparation-length_text text__subtitle text__subtitle_light"
              >
                Підготовка
              </div>
              <div class="programs-description__preparation-length_numbers">
                12-24 місяців
              </div>
            </div>
          </div>
          <div
            class="programs-description__preparation-text programs-description__preparation-text_list text__body"
          >
            <ul>
              <li>функціональні тестування та пошук зон росту</li>
              <li>навчання максимально економічній техніці плавання та бігу</li>
              <li>робота над аеро-посадкою на вело</li>
              <li>індивідуальний підбір та тестування харчування на гонку</li>

              <li>тренування жирового метаболізму та аеробного порога</li>
              <li>психологічна підготовка до головних перегонів у житті</li>
              <li>вибір ідеально підходящої траси для IRONMAN</li>
            </ul>
          </div>

          <div class="programs-description__photo">
            <img
              src="./images/triathlon/achievements/achievements7.jpg"
              alt="10k runners"
            />
          </div>
        </div>
        <div
          id="iron-world"
          class="programs-description programs-description__iron-world tabcontent"
        >
          <div class="programs-description__head-block">
            <a
              href="#popup-form"
              type="button"
              class="content-programs__cta button button_accent popup-link"
              >Придбати абонемент</a
            >
            <div class="programs-description__preparation-length">
              <div
                class="programs-description__preparation-length_text text__subtitle text__subtitle_light"
              >
                Кваліфікувалося
              </div>
              <div class="programs-description__preparation-length_numbers">
                11 атлетів
              </div>
            </div>
            <div class="programs-description__preparation-length">
              <div
                class="programs-description__preparation-length_text text__subtitle text__subtitle_light"
              >
                Підготовка
              </div>
              <div class="programs-description__preparation-length_numbers">
                1-4 роки
              </div>
            </div>
          </div>
          <div
            class="programs-description__preparation-text programs-description__preparation-text_list text__body"
          >
            <ul>
              <li>опрацювання найдрібніших деталей та оптимізація техніки</li>
              <li>функціональні тестування для виявлення зон росту</li>
              <li>підбір ідеально підходящої екіпіровки</li>
              <li>
                тренування засвоюваності вуглеводів та підбір плану харчування
              </li>

              <li>ультра-персональний тренувальний план</li>
              <li>складання плану прийому БАДів та спорт. харчування</li>
              <li>
                пошук ідеальної траси для кваліфікації на IRONMAN World
                Championship
              </li>
            </ul>
          </div>

          <div class="programs-description__photo">
            <img
              src="./images/triathlon/achievements/achievements7.jpg"
              alt="10k runners"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
