<section class="sucseed">
  <div class="sucseed__bg">
    <div class="container sucseed__container">
      <h2 class="sucseed__title">Як нам це вдалося</h2>
      <div class="sucseed__wrap-list">
        <ul class="sucseed__list">
          <li class="sucseed__item">
            <img
              src="./images/triathlon/sucseed/icon-1.png"
              alt=""
              width="32"
            />
            <p class="sucseed__text">
              Тренувальний план, (розроблений) саме для аматорів
            </p>
          </li>
          <li class="sucseed__item">
            <img
              src="./images/triathlon/sucseed/icon-2.png"
              alt=""
              width="32"
            />
            <p class="sucseed__text">
              Від 6 годин на тиждень для підготовки до IRONMAN у зручний час
            </p>
          </li>
          <li class="sucseed__item">
            <img
              src="./images/triathlon/sucseed/icon-3.png"
              alt=""
              width="32"
            />
            <p class="sucseed__text">Персональний куратор</p>
          </li>
          <li class="sucseed__item">
            <img
              src="./images/triathlon/sucseed/icon-4.png"
              alt=""
              width="32"
            />
            <p class="sucseed__text">
              Величезне російсько/україномовне ком'юніті однодумців з 8 країн
              світу
            </p>
          </li>
          <li class="sucseed__item">
            <img
              src="./images/triathlon/sucseed/icon-5.png"
              alt=""
              width="32"
            />
            <p class="sucseed__text">
              97% учнів ніколи не займалися спортом системно до Team404
            </p>
          </li>
          <li class="sucseed__item">
            <img
              src="./images/triathlon/sucseed/icon-6.png"
              alt=""
              width="32"
            />
            <p class="sucseed__text">Не тільки тренування</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container sucseed__wrap-info">
    <img
      src="./images/triathlon/sucseed/triangle.png"
      class="sucseed__triangle"
      alt=""
    />
    <img
      class="sucseed__info-bg-flower"
      src="./images/triathlon/sucseed/bg-flower.png"
      alt=""
      width="60px"
    />
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="sucseed__info-text swiper-slide">
          <p>
            Який враховує особливості підготовки, графік тренувань, розроблений
            на основі наукових методик, аналізу ваших тестувань, та відповідає
            вашій меті
          </p>
        </div>
        <div class="sucseed__info-text swiper-slide">
          <p>
            Тренуємося науково, тому можемо дозволити низькі тренувальні обсяги,
            що економить час при досягненні результату
          </p>
        </div>
        <div class="sucseed__info-text swiper-slide">
          <p>
            Аналіз тренувального процесу у форматі особистого дзвінка,
            коригування техніки плавання, вело, бігу, відповіді на питання щодо
            тренувального процесу
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->
    </div>
  </div>
</section>
