<section class="programs">
  <div class="container">
    <div class="programs__wrap">
      <div class="programs__title text__title text__title_accent">
        Для кого?
      </div>
      <div class="programs__subtitle text__subtitle text__subtitle_light">
        Програми підготовки
      </div>
      <div class="programs__cards cards">
        <div class="program-card">
          <div class="program-card__head text__subtitle text__subtitle_dark">
            Мій перший триатлон
          </div>
          <div class="program-card__body">
            <ul class="checked-list checked-list_first text__body">
              <li class="checked-list__item">
                Не плаваєте спортивними стилями?
              </li>
              <li class="checked-list__item">
                Забули, коли тренувались регулярно?
              </li>
              <li class="checked-list__item">МРІЄТЕ про перший триатлон?</li>
            </ul>
          </div>
          <div class="program-card__actions">
            <a
              href="#popup-programs"
              class="button button_accent popup-link"
              onclick="openTab(event, 'tri')"
              >Розпочати програму</a
            >
            <a
              href="#popup-packages"
              class="link link_accent underlined popup-link"
              >Докладніше</a
            >
          </div>
        </div>
        <div class="program-card">
          <div class="program-card__head text__subtitle text__subtitle_dark">
            IRONMAN 70.3
          </div>
          <div class="program-card__body">
            <ul class="checked-list text__body">
              <li class="checked-list__item">
                Хочете подолати IRONMAN 70.3 або встановити особистий рекорд?
              </li>
              <li class="checked-list__item">
                Змагалися в короткому триатлоні чи бігали марафон?
              </li>
              <li class="checked-list__item">
                Хочете покращувати здоров'я, а не вбивати його триатлоном?
              </li>
            </ul>
          </div>
          <div class="program-card__actions">
            <a
              href="#popup-programs"
              class="button button_accent popup-link"
              onclick="openTab(event, 'iron-70')"
              >Розпочати програму</a
            >
            <a
              href="#popup-packages"
              class="link link_accent underlined popup-link"
              >Докладніше</a
            >
          </div>
        </div>
        <div class="program-card">
          <div class="program-card__head text__subtitle text__subtitle_dark">
            IRONMAN
          </div>
          <div class="program-card__body">
            <ul class="checked-list text__body">
              <li class="checked-list__item">
                Мрієте почути "YOU ARE AN IRONMAN"?
              </li>
              <li class="checked-list__item">
                Хочете зробити те, чим будете пишатись все життя?
              </li>
              <li class="checked-list__item">
                Або стати прикладом для дітей та оточення?
              </li>
            </ul>
          </div>
          <div class="program-card__actions">
            <a
              href="#popup-programs"
              class="button button_accent popup-link"
              onclick="openTab(event, 'iron')"
              >Розпочати програму</a
            >
            <a
              href="#popup-packages"
              class="link link_accent underlined popup-link"
              >Докладніше</a
            >
          </div>
        </div>
        <div class="program-card">
          <div class="program-card__head text__subtitle text__subtitle_dark">
            IRONMAN World Championship
          </div>
          <div class="program-card__body">
            <ul class="checked-list text__body">
              <li class="checked-list__item">
                Фінішували декілька половинок та гонок IRONMAN?
              </li>
              <li class="checked-list__item">
                Відчуваєте, що можете бути швидшим та приймати участь в IRONMAN
                на Гавайях?
              </li>
              <li class="checked-list__item">
                Готові тренуватися ще системніше, розумніше та продуктивніше?
              </li>
            </ul>
          </div>
          <div class="program-card__actions">
            <a
              href="#popup-programs"
              class="button button_accent popup-link"
              onclick="openTab(event, 'iron-world')"
              >Розпочати програму</a
            >
            <a
              href="#popup-packages"
              class="link link_accent underlined popup-link"
              >Докладніше</a
            >
          </div>
        </div>
      </div>
      <div class="programs__cta">
        <p class="programs__cta-text text__body text__body_accent">
          Наш менеджер завжди допоможе, якщо ви не змогли вибрати підходящий
          пакет тренувань
        </p>
        <a
          href="#popup-form"
          class="programs__cta-button button button_accent popup-link"
        >
          Отримати консультацію
        </a>
      </div>
    </div>
  </div>
</section>
