<section class="steps">
  <img
    class="steps__bg-flower-1"
    src="./images/triathlon/steps/1-flower.png"
    alt=""
  />
  <img
    class="steps__bg-flower-2"
    src="./images/triathlon/steps/2-flower.png"
    alt=""
  />
  <img
    class="steps__bg-flower-3"
    src="./images/triathlon/steps/3-flower.png"
    alt=""
  />
  <img
    class="steps__bg-flower-4"
    src="./images/triathlon/steps/4-flower.png"
    alt=""
  />
  <div class="container">
    <h2 class="steps__title">Як це працює?</h2>
    <p class="steps__text-mob">
      Пройди свій шлях підготовки <br />
      разом з team404
    </p>
    <ul class="steps__list">
      <li class="steps__item-first steps__item">
        <p class="steps__item-first-text">
          Це умовна схем роботи с нашою командою.
        </p>
        <p class="steps__item-first-text">
          До кожного учня в нас персональний підхід, тому вас чекає адаптований
          індивідуальний шлях
        </p>
      </li>
      <li
        class="steps__item-main steps__item steps__item1"
        style="
          background: linear-gradient(rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 1)),
            url('./images/triathlon/steps/1-card.jpg') center/cover no-repeat;
        "
      >
        <p class="steps__item-label-mob">1. ЦІЛЬ</p>
        <div class="steps__item-label-desk steps__item-label-desk1">Ціль</div>
        <p class="steps__item-text">
          Визначення ваших вихідних даних: фізична підготовка, актуальна форма,
          стартові амбіції. Постановка цілей та сроков їх реалізації разом з
          куратором.
        </p>
      </li>
      <li
        class="steps__item-main steps__item steps__item2"
        style="
          background: linear-gradient(rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 1)),
            url('./images/triathlon/steps/1-card.jpg') center/cover no-repeat;
        "
      >
        <p class="steps__item-label-mob">2. ПЛАН</p>
        <div class="steps__item-label-desk steps__item-label-desk2">План</div>
        <p class="steps__item-text">
          Опрацювання кроків на шляху до мети, виявлення зон росту, складаня
          тренувального плану на період підготовки
        </p>
      </li>
      <li
        class="steps__item-main steps__item steps__item3"
        style="
          background: linear-gradient(rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 1)),
            url('./images/triathlon/steps/2-card.jpg') center/cover no-repeat;
        "
      >
        <p class="steps__item-label-mob">3. ПОЧАТОК</p>
        <div class="steps__item-label-desk steps__item-label-desk3">
          Початок
        </div>
        <p class="steps__item-text">
          Підбір інвентаря та екіпірування, старт тренувального процессу,
          адаптація до графіку занять, знайомство з тренерами та атлетами
        </p>
      </li>
      <li
        class="steps__item-main steps__item steps__item4"
        style="
          background: linear-gradient(rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 1)),
            url('./images/triathlon/steps/3-card.jpg') center/cover no-repeat;
        "
      >
        <p class="steps__item-label-mob">4. ПІДГОТОВКУ</p>
        <div class="steps__item-label-desk steps__item-label-desk4">
          Підготовку
        </div>
        <p class="steps__item-text">
          Регулярні тренування згідно плану, підготовчі старти, відпрацювання
          плану харчування для головного старту
        </p>
      </li>
      <li
        class="steps__item-main steps__item steps__item5"
        style="
          background: linear-gradient(rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 1)),
            url('./images/triathlon/steps/4-card.jpg') center/cover no-repeat;
        "
      >
        <p class="steps__item-label-mob">5. СТАРТ</p>
        <div class="steps__item-label-desk steps__item-label-desk5">Старт</div>
        <p class="steps__item-text">
          Виступ на головному старті, аналіз усього процессу підготовки та
          самого старту, виявлення сильних та слабких сторон, постановка
          наступної цілі
        </p>
      </li>
    </ul>
    <ul class="steps__step-list">
      <li class="steps__step-item1 steps__step-item">Крок 1</li>
      <li class="steps__step-item2 steps__step-item">Крок 2</li>
      <li class="steps__step-item3 steps__step-item">Крок 3</li>
      <li class="steps__step-item4 steps__step-item">Крок 4</li>
      <li class="steps__step-item5 steps__step-item">Крок 5</li>
    </ul>
  </div>
</section>
