<section class="team">
  <div class="container">
    <h2 class="team__title">КОМАНДА</h2>
    <div class="team__tips">
      <img
        src="./images/triathlon/team/hand-icon.png"
        alt=""
        class="team__tips-icon"
      />
      <p class="team__tips-text">
        тицяй на картки, щоб побачити більше інформації
      </p>
    </div>
    <ul class="team__list">
      <li class="team__item flip-card">
        <div class="team__wrap flip-card-inner">
          <div
            class="team__front flip-card-front"
            style="
              background: linear-gradient(
                  rgba(0, 0, 0, 0) 45%,
                  rgba(0, 0, 0, 1)
                ),
                url('./images/triathlon/team/coaches_vova.jpg') center/cover
                  no-repeat;
            "
            title="Головний тренер команди з тріатлону"
          >
            <p class="team__name">Володимир Остриков</p>
            <p class="team__position">засновник і head coach</p>
          </div>
          <div class="team__back flip-card-back">
            <div class="team__back-portrait-box">
              <img
                src="./images/triathlon/team/portrait_vova.jpg"
                alt="Головний тренер команди з тріатлону"
                class="team__back-box-img"
              />
              <ul class="team__back-box-list">
                <li class="team__back-box-item">
                  <p class="team__back-box-text">Тренерський досвід</p>
                  <p class="team__back-box-stats">8 років</p>
                </li>
                <li class="team__back-box-item">
                  <p class="team__back-box-text">Спортивний досвід</p>
                  <p class="team__back-box-stats">20 років</p>
                </li>
                <li class="team__back-box-item">
                  <p class="team__back-box-text">Особистий рекорд на IRONMAN</p>
                  <p class="team__back-box-stats">9:25:00</p>
                </li>
              </ul>
            </div>
            <div class="team__back-info-box">
              <p class="team__back-info-name">Володимир Острик</p>
              <p class="team__back-info-position">засновник команди</p>
              <div class="team__back-info-wrap">
                <ul class="team__back-info-list">
                  <li class="team__back-info-item">
                    - 5-кратний чемпіон України з тріатлону серед юнаків
                  </li>
                  <li class="team__back-info-item">
                    - Тренер найсильніших аматорів України
                  </li>
                  <li class="team__back-info-item">
                    - Підготував з нуля 51 IRONMAN
                  </li>
                </ul>
                <div class="team__back-info-icons">
                  <a
                    href="https://instagram.com/team404.expats?igshid=YmMyMTA2M2Y="
                    class="team__back-info-link"
                    target="_blank"
                  >
                    <img
                      class="team__back-info-icons"
                      src="./images/triathlon/team/insta.svg"
                      alt="instagram icon"
                    />
                  </a>
                  <a
                    href="https://instagram.com/team404.expats?igshid=YmMyMTA2M2Y="
                    class="team__back-info-link"
                    target="_blank"
                  >
                    <img
                      class="team__back-info-icons"
                      src="./images/triathlon/team/fb.svg"
                      alt="instagram icon"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="team__item flip-card">
        <div class="team__wrap flip-card-inner">
          <div
            class="team__front flip-card-front"
            style="
              background: linear-gradient(
                  rgba(0, 0, 0, 0) 45%,
                  rgba(0, 0, 0, 1)
                ),
                url('./images/triathlon/team/coaches_serg.jpg') center/cover
                  no-repeat;
            "
            title="Головний тренер з бігу"
          >
            <p class="team__name">Сергій Дуняк</p>
            <p class="team__position">тренер з бігу</p>
          </div>
          <div class="team__back flip-card-back">
            <div class="team__back-portrait-box">
              <img
                src="./images/triathlon/team/portrait_serg.jpg"
                alt="Головний тренер з бігу"
                class="team__back-box-img"
              />
              <ul class="team__back-box-list">
                <li class="team__back-box-item">
                  <p class="team__back-box-text">Тренерський досвід</p>
                  <p class="team__back-box-stats">3 років</p>
                </li>
                <li class="team__back-box-item">
                  <p class="team__back-box-text">Спортивний досвід</p>
                  <p class="team__back-box-stats">15 років</p>
                </li>
                <li class="team__back-box-item">
                  <p class="team__back-box-text">
                    Особистий рекорд на марафоні
                  </p>
                  <p class="team__back-box-stats">2:58:00</p>
                </li>
              </ul>
            </div>
            <div class="team__back-info-box">
              <p class="team__back-info-name">Сергій Дуняк</p>
              <p class="team__back-info-position">тренер з бігу</p>
              <div class="team__back-info-wrap">
                <ul class="team__back-info-list">
                  <li class="team__back-info-item">
                    - Навчив бігати з нуля 150+ осіб
                  </li>
                  <li class="team__back-info-item">
                    - Фінішер 5 марафонів та 10+ напівмарафонів
                  </li>
                  <li class="team__back-info-item">
                    - Учасник трейлових забігів (48 та 61 км)
                  </li>
                </ul>
                <div class="team__back-info-icons">
                  <a
                    href="https://instagram.com/team404.expats?igshid=YmMyMTA2M2Y="
                    class="team__back-info-link"
                    target="_blank"
                  >
                    <img
                      class="team__back-info-icons"
                      src="./images/triathlon/team/insta.svg"
                      alt="instagram icon"
                    />
                  </a>
                  <a
                    href="https://instagram.com/team404.expats?igshid=YmMyMTA2M2Y="
                    class="team__back-info-link"
                    target="_blank"
                  >
                    <img
                      class="team__back-info-icons"
                      src="./images/triathlon/team/fb.svg"
                      alt="instagram icon"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="team__item flip-card">
        <div class="team__wrap flip-card-inner">
          <div
            class="team__front flip-card-front"
            style="
              background: linear-gradient(
                  rgba(0, 0, 0, 0) 45%,
                  rgba(0, 0, 0, 1)
                ),
                url('./images/triathlon/team/coaches_maiia.jpg') center/cover
                  no-repeat;
            "
            title="Інструктор з тріатлону"
          >
            <p class="team__name">Майя Федосєєнко</p>
            <p class="team__position">тренер з триатлону</p>
          </div>
          <div class="team__back flip-card-back">
            <div class="team__back-portrait-box">
              <img
                src="./images/triathlon/team/portrait_maiia.jpg"
                alt="Інструктор з тріатлону"
                class="team__back-box-img"
              />
              <ul class="team__back-box-list">
                <li class="team__back-box-item">
                  <p class="team__back-box-text">Тренерський досвід</p>
                  <p class="team__back-box-stats">1 років</p>
                </li>
                <li class="team__back-box-item">
                  <p class="team__back-box-text">Спортивний досвід</p>
                  <p class="team__back-box-stats">15 років</p>
                </li>
                <li class="team__back-box-item">
                  <p class="team__back-box-text">Особистий рекорд на IRONMAN</p>
                  <p class="team__back-box-stats">13:09:54</p>
                </li>
              </ul>
            </div>
            <div class="team__back-info-box">
              <p class="team__back-info-name">Майя Федосєєнко</p>
              <p class="team__back-info-position">тренер з триатлону</p>
              <div class="team__back-info-wrap">
                <ul class="team__back-info-list">
                  <li class="team__back-info-item">
                    - Наймолодша IRONMAN в історії України
                  </li>
                  <li class="team__back-info-item">
                    - Переможиця та призерка IRONMAN та IRONMAN 70.3
                  </li>
                  <li class="team__back-info-item">
                    - Silver AWA ATHLETE 18-24 (2021)
                  </li>
                </ul>
                <div class="team__back-info-icons">
                  <a
                    href="https://instagram.com/team404.expats?igshid=YmMyMTA2M2Y="
                    class="team__back-info-link"
                    target="_blank"
                  >
                    <img
                      class="team__back-info-icons"
                      src="./images/triathlon/team/insta.svg"
                      alt="instagram icon"
                    />
                  </a>
                  <a
                    href="https://instagram.com/team404.expats?igshid=YmMyMTA2M2Y="
                    class="team__back-info-link"
                    target="_blank"
                  >
                    <img
                      class="team__back-info-icons"
                      src="./images/triathlon/team/fb.svg"
                      alt="instagram icon"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
