<div id="popup-packages" class="popup">
  <div class="popup__body">
    <div class="popup__content content-packages">
      <img
        src="./images/common/logo-default.svg"
        class="content-packages__logo"
        alt="logo team404"
      />
      <a class="popup__close close-popup close-icon"><span></span></a>
      <div class="content-packages__wrap">
        <ul class="content-packages__list">
          <li class="content-packages__item">
            <div class="content-packages__icon-wrap">
              <img
                class="content-packages__icon"
                src="./images/triathlon/packages/economical.png"
                alt=""
              />
              <p class="content-packages__icon-text">прогрес</p>
            </div>
            <p class="content-packages__membership">ЕКОНОМ</p>
            <div class="content-packages__price-crossed-wrap">
              <p class="content-packages__old-price">$50</p>
              <img
                class="content-packages__price-crossed"
                src="./images/triathlon/packages/red-line.png"
                alt=""
              />
            </div>
            <p class="content-packages__price">$40</p>
            <ul class="content-packages__features-list">
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">План харчування</p>
                <p class="content-packages__features-stats">
                  Лекція з харчування
                </p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Налаштування пульсових зон
                </p>
                <p class="content-packages__features-stats">Раз на півроку</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Зворотній зв'язок від куратора
                </p>
                <p class="content-packages__features-stats">Раз в місяць</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Підбір екіпірування та інвентарю
                </p>
                <p class="content-packages__features-stats">Гайди</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">Командний мерч</p>
                <p class="content-packages__features-stats">-</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Розбір техніки бігу
                </p>
                <p class="content-packages__features-stats">-</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Розбір техніки плавання
                </p>
                <p class="content-packages__features-stats">-</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Розбір техніки вело
                </p>
                <p class="content-packages__features-stats">-</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Тренування з гнучкості та мобільності
                </p>
                <p class="content-packages__features-stats">-</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Доступ до бази лекцій та семінарів
                </p>
                <p
                  class="content-packages__features-stats"
                  style="
                    width: 12px;
                    height: 8px;
                    background: url('./images/triathlon/packages/check-mark.png')
                      center/cover no-repeat;
                  "
                ></p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Доступ до командних чатів та каналів
                </p>
                <p
                  class="content-packages__features-stats"
                  style="
                    width: 12px;
                    height: 8px;
                    background: url('./images/triathlon/packages/check-mark.png')
                      center/cover no-repeat;
                  "
                ></p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  План проходження змагань
                </p>
                <p class="content-packages__features-stats">Інстуркція</p>
              </li>
            </ul>
            <button class="content-packages__btn">Придбати абонемент</button>
          </li>
          <li class="content-packages__item">
            <div class="content-packages__icon-wrap">
              <img
                class="content-packages__icon"
                src="./images/triathlon/packages/economical.png"
                alt=""
              />
              <p class="content-packages__icon-text">прогрес</p>
            </div>
            <p class="content-packages__membership">СТАНДАРТ</p>
            <div class="content-packages__price-crossed-wrap">
              <p class="content-packages__old-price">$150</p>
              <img
                class="content-packages__price-crossed"
                src="./images/triathlon/packages/red-line.png"
                alt=""
              />
            </div>
            <p class="content-packages__price">$100</p>
            <ul class="content-packages__features-list">
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">План харчування</p>
                <p class="content-packages__features-stats">
                  Консультація у групі
                </p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Налаштування пульсових зон
                </p>
                <p class="content-packages__features-stats">Раз на 2 місяці</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Зворотній зв'язок від куратора
                </p>
                <p class="content-packages__features-stats">Раз на тиждень</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Підбір екіпірування та інвентарю
                </p>
                <p class="content-packages__features-stats">Семінар</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">Командний мерч</p>
                <p class="content-packages__features-stats">-</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Розбір техніки бігу
                </p>
                <p class="content-packages__features-stats">Раз на сезон</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Розбір техніки плавання
                </p>
                <p class="content-packages__features-stats">Раз на сезон</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Розбір техніки вело
                </p>
                <p class="content-packages__features-stats">Раз на сезон</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Тренування з гнучкості та мобільності
                </p>
                <p class="content-packages__features-stats">Групові</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Доступ до бази лекцій та семінарів
                </p>
                <p
                  class="content-packages__features-stats"
                  style="
                    width: 12px;
                    height: 8px;
                    background: url('./images/triathlon/packages/check-mark.png')
                      center/cover no-repeat;
                  "
                ></p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Доступ до командних чатів та каналів
                </p>
                <p
                  class="content-packages__features-stats"
                  style="
                    width: 12px;
                    height: 8px;
                    background: url('./images/triathlon/packages/check-mark.png')
                      center/cover no-repeat;
                  "
                ></p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  План проходження змагань
                </p>
                <p class="content-packages__features-stats">Семінар</p>
              </li>
            </ul>
            <button class="content-packages__btn">Придбати абонемент</button>
          </li>
          <li class="content-packages__item">
            <div class="content-packages__icon-wrap">
              <img
                class="content-packages__icon"
                src="./images/triathlon/packages/economical.png"
                alt=""
              />
              <p class="content-packages__icon-text">прогрес</p>
            </div>
            <p class="content-packages__membership">VIP</p>
            <div class="content-packages__price-crossed-wrap">
              <p class="content-packages__old-price">$500</p>
              <img
                class="content-packages__price-crossed"
                src="./images/triathlon/packages/red-line.png"
                alt=""
              />
            </div>
            <p class="content-packages__price">$400</p>
            <ul class="content-packages__features-list">
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">План харчування</p>
                <p class="content-packages__features-stats">
                  Особиста консультація
                </p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Налаштування пульсових зон
                </p>
                <p class="content-packages__features-stats">За необхідності</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Зворотній зв'язок від куратора
                </p>
                <p class="content-packages__features-stats">Кожен день</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Підбір екіпірування та інвентарю
                </p>
                <p class="content-packages__features-stats">
                  Індивідуальний підбір
                </p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">Командний мерч</p>
                <p class="content-packages__features-stats">
                  Включено частково
                </p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Розбір техніки бігу
                </p>
                <p class="content-packages__features-stats">Раз в місяць</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Розбір техніки плавання
                </p>
                <p class="content-packages__features-stats">Раз в місяць</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Розбір техніки вело
                </p>
                <p class="content-packages__features-stats">Раз в місяць</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Тренування з гнучкості та мобільності
                </p>
                <p class="content-packages__features-stats">Індивідуальні</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Доступ до бази лекцій та семінарів
                </p>
                <p
                  class="content-packages__features-stats"
                  style="
                    width: 12px;
                    height: 8px;
                    background: url('./images/triathlon/packages/check-mark.png')
                      center/cover no-repeat;
                  "
                ></p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Доступ до командних чатів та каналів
                </p>
                <p
                  class="content-packages__features-stats"
                  style="
                    width: 12px;
                    height: 8px;
                    background: url('./images/triathlon/packages/check-mark.png')
                      center/cover no-repeat;
                  "
                ></p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  План проходження змагань
                </p>
                <p class="content-packages__features-stats">
                  Розробляється індивідуально
                </p>
              </li>
            </ul>
            <button class="content-packages__btn">Придбати абонемент</button>
          </li>
        </ul>
      </div>

      <!-- ! Swiper for Mobile -->
      <div class="swiper modalSwiper content-packages__swiper">
        <div class="content-packages__list swiper-wrapper">
          <div class="content-packages__item swiper-slide">
            <div class="content-packages__icon-wrap">
              <img
                class="content-packages__icon"
                src="./images/triathlon/packages/economical.png"
                alt=""
              />
              <p class="content-packages__icon-text">прогрес</p>
            </div>
            <p class="content-packages__membership">ЕКОНОМ</p>
            <div class="content-packages__price-crossed-wrap">
              <p class="content-packages__old-price">$50</p>
              <img
                class="content-packages__price-crossed"
                src="./images/triathlon/packages/red-line.png"
                alt=""
              />
            </div>
            <p class="content-packages__price">$40</p>
            <ul class="content-packages__features-list">
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">План харчування</p>
                <p class="content-packages__features-stats">
                  Лекція з харчування
                </p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Налаштування пульсових зон
                </p>
                <p class="content-packages__features-stats">Раз на півроку</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Зворотній зв'язок від куратора
                </p>
                <p class="content-packages__features-stats">Раз в місяць</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Підбір екіпірування та інвентарю
                </p>
                <p class="content-packages__features-stats">Гайди</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">Командний мерч</p>
                <p class="content-packages__features-stats">-</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Розбір техніки бігу
                </p>
                <p class="content-packages__features-stats">-</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Розбір техніки плавання
                </p>
                <p class="content-packages__features-stats">-</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Розбір техніки вело
                </p>
                <p class="content-packages__features-stats">-</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Тренування з гнучкості та мобільності
                </p>
                <p class="content-packages__features-stats">-</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Доступ до бази лекцій та семінарів
                </p>
                <p
                  class="content-packages__features-stats"
                  style="
                    width: 12px;
                    height: 8px;
                    background: url('./images/triathlon/packages/check-mark.png')
                      center/cover no-repeat;
                  "
                ></p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Доступ до командних чатів та каналів
                </p>
                <p
                  class="content-packages__features-stats"
                  style="
                    width: 12px;
                    height: 8px;
                    background: url('./images/triathlon/packages/check-mark.png')
                      center/cover no-repeat;
                  "
                ></p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  План проходження змагань
                </p>
                <p class="content-packages__features-stats">Інстуркція</p>
              </li>
            </ul>
            <button class="content-packages__btn">Придбати абонемент</button>
          </div>
          <div class="content-packages__item swiper-slide">
            <div class="content-packages__icon-wrap">
              <img
                class="content-packages__icon"
                src="./images/triathlon/packages/economical.png"
                alt=""
              />
              <p class="content-packages__icon-text">прогрес</p>
            </div>
            <p class="content-packages__membership">СТАНДАРТ</p>
            <div class="content-packages__price-crossed-wrap">
              <p class="content-packages__old-price">$150</p>
              <img
                class="content-packages__price-crossed"
                src="./images/triathlon/packages/red-line.png"
                alt=""
              />
            </div>
            <p class="content-packages__price">$100</p>
            <ul class="content-packages__features-list">
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">План харчування</p>
                <p class="content-packages__features-stats">
                  Консультація у групі
                </p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Налаштування пульсових зон
                </p>
                <p class="content-packages__features-stats">Раз на 2 місяці</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Зворотній зв'язок від куратора
                </p>
                <p class="content-packages__features-stats">Раз на тиждень</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Підбір екіпірування та інвентарю
                </p>
                <p class="content-packages__features-stats">Семінар</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">Командний мерч</p>
                <p class="content-packages__features-stats">-</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Розбір техніки бігу
                </p>
                <p class="content-packages__features-stats">Раз на сезон</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Розбір техніки плавання
                </p>
                <p class="content-packages__features-stats">Раз на сезон</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Розбір техніки вело
                </p>
                <p class="content-packages__features-stats">Раз на сезон</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Тренування з гнучкості та мобільності
                </p>
                <p class="content-packages__features-stats">Групові</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Доступ до бази лекцій та семінарів
                </p>
                <p
                  class="content-packages__features-stats"
                  style="
                    width: 12px;
                    height: 8px;
                    background: url('./images/triathlon/packages/check-mark.png')
                      center/cover no-repeat;
                  "
                ></p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Доступ до командних чатів та каналів
                </p>
                <p
                  class="content-packages__features-stats"
                  style="
                    width: 12px;
                    height: 8px;
                    background: url('./images/triathlon/packages/check-mark.png')
                      center/cover no-repeat;
                  "
                ></p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  План проходження змагань
                </p>
                <p class="content-packages__features-stats">Семінар</p>
              </li>
            </ul>
            <button class="content-packages__btn">Придбати абонемент</button>
          </div>
          <div class="content-packages__item swiper-slide">
            <div class="content-packages__icon-wrap">
              <img
                class="content-packages__icon"
                src="./images/triathlon/packages/economical.png"
                alt=""
              />
              <p class="content-packages__icon-text">прогрес</p>
            </div>
            <p class="content-packages__membership">VIP</p>
            <div class="content-packages__price-crossed-wrap">
              <p class="content-packages__old-price">$500</p>
              <img
                class="content-packages__price-crossed"
                src="./images/triathlon/packages/red-line.png"
                alt=""
              />
            </div>
            <p class="content-packages__price">$400</p>
            <ul class="content-packages__features-list">
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">План харчування</p>
                <p class="content-packages__features-stats">
                  Особиста консультація
                </p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Налаштування пульсових зон
                </p>
                <p class="content-packages__features-stats">За необхідності</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Зворотній зв'язок від куратора
                </p>
                <p class="content-packages__features-stats">Кожен день</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Підбір екіпірування та інвентарю
                </p>
                <p class="content-packages__features-stats">
                  Індивідуальний підбір
                </p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">Командний мерч</p>
                <p class="content-packages__features-stats">
                  Включено частково
                </p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Розбір техніки бігу
                </p>
                <p class="content-packages__features-stats">Раз в місяць</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Розбір техніки плавання
                </p>
                <p class="content-packages__features-stats">Раз в місяць</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Розбір техніки вело
                </p>
                <p class="content-packages__features-stats">Раз в місяць</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Тренування з гнучкості та мобільності
                </p>
                <p class="content-packages__features-stats">Індивідуальні</p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Доступ до бази лекцій та семінарів
                </p>
                <p
                  class="content-packages__features-stats"
                  style="
                    width: 12px;
                    height: 8px;
                    background: url('./images/triathlon/packages/check-mark.png')
                      center/cover no-repeat;
                  "
                ></p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  Доступ до командних чатів та каналів
                </p>
                <p
                  class="content-packages__features-stats"
                  style="
                    width: 12px;
                    height: 8px;
                    background: url('./images/triathlon/packages/check-mark.png')
                      center/cover no-repeat;
                  "
                ></p>
              </li>
              <li class="content-packages__features-item">
                <p class="content-packages__features-point">
                  План проходження змагань
                </p>
                <p class="content-packages__features-stats">
                  Розробляється індивідуально
                </p>
              </li>
            </ul>
            <button class="content-packages__btn">Придбати абонемент</button>
          </div>
        </div>
        <!-- <div class="swiper-pagination" style="bottom: 0px"></div> -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</div>
